
  <% include include/header.ejs %>
  <div style="text-align: center;padding:1em">
    <h2>Your order has been successfully placed.</h2>
    <a href="/orderstatus">Click here to check your order status and details.</a>
  </div>
